/*
OUTBOX colors
*/

$color-main: #222222;
$color-light-main: #dddddd;
$color-thinblue: rgba(0, 100, 255, 0.05);
$color-silver: rgba(0, 0, 0, 0.04);

.color-blue05 {
  color: rgba($blue, 0.5);
}

$gray-fades: 0.7, 0.5, 0.3, 0.1;

// $gray-fades: (
//   '07': 0.7,
//   '05': 0.5,
//   '03': 0.3,
//   '01': 0.1
// );

// @each $fade-prefix, $fade in $gray-fades {
//   .color-main-#{$fade-prefix} {
//     color: rgba($color-main, $fade);
//   }
// }

.color-bg-silver {
  background-color: rgba(0, 0, 0, 0.04);
}

%base-font-props {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
}

/*
OUTBOX fonts
*/

p,
.font-paragraph {
  @extend %base-font-props;
  font-size: 15px;
}

p {
  margin-bottom: 1.5em;
}

h1,
.h1 {
  @extend %base-font-props;
  font-size: 48px;
}

h2,
.h2 {
  @extend %base-font-props;
  font-size: 42px;
}

h3,
.h3 {
  @extend %base-font-props;
  font-size: 36px;
}

h4 .h4,
.lead,
.font-large {
  @extend %base-font-props;
  font-size: 20px;
}

.font-medium {
  @extend %base-font-props;
  font-size: 18px;
}

.font-medium {
  @extend %base-font-props;
  font-size: 18px;
}

.font-normal {
  @extend %base-font-props;
  font-size: 16px;
}

.font-small {
  @extend %base-font-props;
  font-size: 14px;
}

section {
  a,
  .font-anchor {
    color: $blue;
    text-decoration: underline;
    text-decoration-color: rgba($blue, 0.3);
    &.anckhor-hairline {
      text-decoration: none;
      background-image: linear-gradient(
        to top,
        rgba(0, 100, 255, 0) 0px,
        rgba(0, 100, 255, 0) 1px,
        rgba(0, 100, 255, 30%) 1px,
        rgba(0, 100, 255, 0) 2px,
        rgba(0, 100, 255, 0) 100px
      );
    }
    &.anckhor-hairline {
      text-decoration: none;
      background-image: linear-gradient(
        to top,
        rgba(0, 95, 204, 0) 0px,
        rgba(0, 95, 204, 0) 1px,
        rgba(0, 95, 204, 30%) 1px,
        rgba(0, 95, 204, 0) 2px,
        rgba(0, 95, 204, 0) 100px
      );
    }
  }
}

.color-gradient {
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
  color: #0033ff;
  &:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, $blue, #0033ff);
    mix-blend-mode: lighten;
  }
}

/*
OUTBOX header
*/

$header-height: 56px;
$header-lg-height: 90px;

.navbar-global {
  padding: 0 0;
  min-height: $header-height;
  position: static;

  @include media-breakpoint-up('lg', $grid-breakpoints) {
    min-height: $header-lg-height;
  }

  .navbar-toggler {
    border: none;
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    position: absolute;
    &-icon {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='6' width='20' height='3' fill='%23222222'/%3E%3Crect x='5' y='20' width='20' height='3' fill='%23222222'/%3E%3Crect x='5' y='13' width='20' height='3' fill='%23222222'/%3E%3C/svg%3E%0A");
    }
  }

  & .navbar-collapse {
    @include media-breakpoint-down('md', $grid-breakpoints) {
      position: absolute;
      z-index: 110;
      left: 0;
      top: 0;
      width: 80%;
      padding-top: 24px;
      background-color: white;
      height: 100vh;
      border-right: 1px solid $border-color;
      transition: transform 0.2s linear;
    }

    @include media-breakpoint-up('lg', $grid-breakpoints) {
      height: auto;
      flex-grow: 1;
      position: static;
      transform: translateX(0);
    }

    &.collapse:not(.show) {
      display: block;
      @include media-breakpoint-down('md', $grid-breakpoints) {
        transform: translateX(-100%);
      }
    }
  }

  #navbar-fog {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 105;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s linear;

    transform: translateX(-102%);

    @include media-breakpoint-up('lg', $grid-breakpoints) {
      display: none !important;
    }
  }

  #navbar-fog.show {
    display: block;
    transform: translateX(0);
  }

  #navbar-fog.fade {
    opacity: 1;
  }

  & &-logo {
    margin: auto;
    @include media-breakpoint-up('lg', $grid-breakpoints) {
      padding-right: 90px;
    }
  }

  & .navbar-text {
    color: black;
    font-weight: 600;
  }

  & .navbar-nav {
    align-items: flex-start;
    @include media-breakpoint-up('lg', $grid-breakpoints) {
      flex-grow: 1;
    }

    & .nav-link {
      color: $color-main;
      border: 1px solid transparent;

      &:not(active) {
        padding: 3px 16px;

        @include media-breakpoint-down('md', $grid-breakpoints) {
          padding-left: 0;
          margin-bottom: 12px;
        }
      }

      &.active {
        padding: 3px 16px;
        border: 1px solid $blue;
        background-color: $color-thinblue;
        border-radius: 16px;
      }
    }
  }
}

.footer-global {
  background-color: $color-main;
  color: $color-light-main;
  & > .container {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  a,
  span {
    display: block;
    line-height: 2;
    font-weight: $font-weight-light;
  }

  a:hover,
  a:active,
  a:visited {
    color: $color-light-main;
  }

  .copyright {
    font-size: 14px;
  }
}

%anchor-nav-props {
  color: $color-main;
  text-decoration: none;
}

.overflow-x-hidden {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 300px;
  margin-bottom: -300px;
}

$header-menu-mobile-height: 56px;
$header-menu-desktop-height: 64px;

.header-menu {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-menu-mobile-height;
  &:not(.show) {
    display: none;
  }

  a {
    &:hover,
    &:active,
    &:visited {
      @extend %anchor-nav-props;
    }
  }

  ul,
  li {
    display: block;
    padding: 0;
    margin: 0;
  }
  button {
    padding-right: 24px;
    padding-left: 24px;
    span {
      display: none;
    }
  }
  & > ul {
    display: flex;
    flex-grow: 1;
    .ob-dropdown {
      display: flex;
      position: relative;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      margin-right: 32px;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        display: block;

        align-self: right;
        width: 15px;
        height: 14px;
        margin: auto;

        background: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20height%3D%227%22%20viewBox%3D%220%200%2010%207%22%20width%3D%2210%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m8.46966991.96966991c.29289322-.29289321.76776696-.29289321%201.06066018%200%20.29289321.29289322.29289321.76776696%200%201.06066018l-4%204c-.29289322.29289321-.76776696.29289321-1.06066018%200l-4-4c-.29289321-.29289322-.29289321-.76776696%200-1.06066018.29289322-.29289321.76776696-.29289321%201.06066018%200l3.46966991%203.46966992z%22%20fill%3D%22%23222%22%2F%3E%3C%2Fsvg%3E)
          no-repeat center;
        background-size: contain;
        transition: transform 0.15s linear;
      }

      &.open:after {
        transform: rotate(180deg);
      }

      &:not(.active) {
        display: none;
        & + .ob-dropdown-menu {
          display: none;
        }
      }
      &:not(.open) {
        & + .ob-dropdown-menu {
          max-height: 0;
          border-bottom: 0;
        }
      }
    }
    .ob-dropdown-menu {
      position: absolute;
      z-index: 10;
      top: $header-menu-mobile-height;
      width: calc(100vw + 100%);
      left: calc(-50vw);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #f7f7f7;
      text-align: center;
      max-height: 500px;
      overflow: hidden;
      transition: max-height 0.15s ease-out;
      li {
        margin: 12px auto;
        a {
          padding: 3px 16px;
          //border: 1px solid $blue;
          //background-color: $color-thinblue;
          border-radius: 16px;
        }
      }
    }
  }
  @include media-breakpoint-up('lg', $grid-breakpoints) {
    height: $header-menu-desktop-height;
    & > ul {
      .ob-dropdown {
        cursor: pointer;
        &:not(.open) {
          & + .ob-dropdown-menu {
            max-height: none;
          }
        }
        &:after {
          content: none;
          display: none;
        }
      }
      .ob-dropdown-menu {
        border-bottom: none;
        display: flex;
        flex-grow: 0;
        position: static;
        width: auto;
        left: auto;
        margin-right: 16px;
        background: transparent;
        li {
          margin: auto 16px;
          a {
            padding: 0 0;
            position: relative;
            display: block;
            //border: 1px solid $blue;
            //background-color: $color-thinblue;
            border-radius: 16px;
            &:after {
              display: block;
              content: '';
              position: absolute;
              bottom: 2px;
              width: 100%;
              height: 1px;
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
    button {
      flex-shrink: 0;
      padding-right: 24px;
      padding-left: 24px;
      span {
        display: inline;
      }
    }
  }
}

.jumbotron-54-fz {
  background-color: white;
  border: 4px solid $orange;
  border-radius: 30px;
  box-shadow: 0 5px 20px -10px $orange;
  padding: 40px;
  h3 {
    line-height: 1;
  }
  p {
    margin-bottom: 24px;
  }
  .text-muted {
    margin-bottom: 32px;
  }
}
