$blue: #0079ff;
$orange: #f5a623;
$body-color: #222222;
$text-muted: #757575;

$font-weight-light: 300;
$font-weight-normal: 400;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px //xl: 1140px
);
$font-family-sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
